<h1>ここはマイページ</h1>

<!--<p>Find me in app/views/users/show.html.erb</p>-->
<table class="table">
  
  <thead>
    <tr>
      <%= image_tag current_user.get_profile_image(100,100) %>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <th>nickname</th>
      <th><%= @user.nickname %></th>
    </tr>
  
  </tbody>
</table>

  
  
  <% unless @user.guest_user? %>
  <!--<div class="">-->
    <%= link_to "プロフィール編集",edit_user_path(@user) %>
  <!--</div>-->
  <% end %>
  
  <!--#自分の投稿内容を表示-->
    <% @reviews.each do |review| %>
        <div>
            <p>ユーザーネーム：<%= review.nickname %></p>
            <p>性別：<%= review.gender %></p>
            <p>年代：<%= review.age %></p>
            <p>住所：<%= review.address %></p>
            <p>病院：<%= review.hospital %></p>
            <p>診療科：<%= review.clinical_department %></p>
            <p>お薬受け取り場所：<%= review.pharmacy %></p>
            <p>訪問回数：<%= review.use_count %></p>
            <p>来訪月：<%= review.visit_month %></p>
            <p>感想：<%= review.content %></p>
        </div>
        
    
    <% end %>