<h1>投稿フォーム</h1>
<p>Find me in app/views/reviews/new.html.erb</p>


<%= form_with model: @review do |f| %>
    <div class="form-nickname row">
        <%= f.label :ニックネーム %>
        <%= f.text_field :nickname %>
    </div>
    
    <div class="form-gender row">
        <%= f.label :性別 %>
        <%= f.text_field :gender %>
    </div>
    
    <div class="form-age row">
        <%= f.label :年代 %>
        <%= f.text_field :age %>代
    </div>
    <div class="form-address row">
        <%= f.label :住所 %>
        <%= f.text_area :address %>
    </div>
    <div class="form-hospital row">
        <%= f.label :病院 %>
        <%= f.text_field :hospital %>病院
    </div>
    <div class="form-clinical_department row">
        <%= f.label :診療科 %>
        <%= f.text_field :clinical_department %>科
    </div>
    <div class="form-pharmacy row">
        <%= f.label :お薬受け取り場所 %>
        <%= f.text_field :pharmacy %>
    </div>
    <div class="form-use_count row">
        <%= f.label :訪問回数 %>
        <%= f.text_field :use_count %>
    </div>    
    <div class="form-visit_month row">
        <%= f.label :来訪月 %>
        <%= f.text_field :visit_month %>月
    </div>
    <div class="form-content row">
        <%= f.label :感想 %>
        <%= f.text_area :content %>
    </div>
    
    <%= form_with model:@review, local: true do |f| %>

        <%= f.text_field :tag_ids, class: "form-control", id:'tag_ids',\
        placeholder: "タグをつける。複数つけるには','で区切ってください。" %>
    
    <% end %>
    
    <div class="actions row">
        <%= f.submit '投稿' %>
    </div>

<% end %>