<h1>投稿一覧</h1>
<!--<p>Find me in app/views/reviews/index.html.erb</p>-->



    <% @reviews.each do |review| %>
            <p>投稿ユーザー：<%= image_tag review.user.get_profile_image(100,100) %></p>
            <p>ユーザーネーム：<%= review.nickname %></p>
            <p>性別：<%= review.gender %></p>
            <p>年代：<%= review.age %></p>
            <p>住所：<%= review.address %></p>
            <p>病院：<%= review.hospital %></p>
            <p>診療科：<%= review.clinical_department %></p>
            <p>お薬受け取り場所：<%= review.pharmacy %></p>
            <p>訪問回数：<%= review.use_count %></p>
            <p>来訪月：<%= review.visit_month %></p>
            <p>感想：<%= review.content %></p>
            
        <!--#投稿削除-->
        <% if review.user_id == current_user.id %>
            <%= link_to '削除', review_path(review), method: :delete, data: {confirm: "本当に消しますか？"} %>
        <% end %>
    <% end %>
    
    
  