
<div class ="container">
  <div class ="row">
    <div class ="col-md-3">
    <h2>マイページ</h2>

<!--<p>Find me in app/views/users/show.html.erb</p>-->
      <table class="table">
        <thead>
          <tr>
            <%= image_tag current_user.get_profile_image(100,100) %>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>nickname</th>
            <td><%= @user.nickname %></td>
          </tr>

        </tbody>
      </table>
      <% unless @user.guest_user? %>
  <!--<div class="">-->
        <%= link_to "プロフィール編集",edit_user_path(@user) %>
  <!--</div>-->
      <% end %>
    </div>


  <!--#自分の投稿内容を表示-->

    <div class ="col-md-9">
      <table class ="table">
        <thead>
            <tr>

                <th>都道府県</th>
                <th>病院/診療科</th>
                <th>お薬受け取り場所</th>
                <th>コメント数</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% @reviews.each do |review| %>
            <tr>
                <td><%= review.address %></td>
                <td><%= review.hospital %>病院<br>
                <%= review.clinical_department %>科
                </td>
                <td><%= review.pharmacy %></td>
                <td>
                  <p><%= link_to "#{review.review_comments.count} コメント", review_path(review.id) %></p>
                </td>
                <td>
                <% if review.user_id == current_user.id %>
                    <%= link_to '編集', edit_review_path(review) %>
                    |
                    <%= link_to '削除', review_path(review), method: :delete, data: {confirm: "本当に消しますか？"} %>
                <% end %>
                |
                <%= link_to 'レビュー詳細', review_path(review) %>
                </td>
            <% end %>
            <%= paginate @reviews %>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>